.hero-wrapper {
    color: white;
}

.wrapper {
    margin-top: 65px;
    margin-left: 100px;
}

.hero-wrapper img {
    z-index: -1;
    left: 0;
    position: fixed;
    top: 0;
    object-fit: cover;
}

.text-wrapper {
    background-color: rgba(217, 217, 217, 0.2);
    border-radius: 20px;
    height: 155px;
    width: 513px;
    padding: 4px 17px;
}

.text-wrapper>h1 {
    width: 300px;
    margin: 0;
    line-height: 52px;
}

.text-wrapper>p {
    margin: 0;
    text-align: end;
    font-size: 18px;
}
